{% extends 'base.html' %}
{% block content %}
            <div>
                    <h3><b>Login Form:</b></h3>
                    <form method="post" action="{% url 'login' %}">
                      {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username *" value=""/>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password *" value="" />
                        </div>
                        <br>
                         <div class="form-group">
                              <button class="btn btn-outline-primary my-2 my-sm-0 " type="submit" value="Login">Login</button>
                        </div>
                        <br><br>
                    </form>
              </div>
{% endblock %}
